<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}QR Generator{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>QR Code Generator</h1>
    </header>

    <main>
        {% block content %}
        <!-- Aquí va el contenido de cada página hija -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 - QR Generator App</p>
    </footer>
</body>
</html>
